#overlay {
  grid-template-rows: 1fr 5%;
  bottom: 0;
  height: 50%;
  position: absolute;
  top: 25%;
}

nav a {
  top: 70% !important;
}

#footer #middle {
  width: unset;
}

@media screen and (orientation: portrait) {
  #overlay {
    grid-template-rows: 1fr 25% 20%;
    top: unset;
    bottom: 0;
  }

  #footer {
    font-size: 2em;
    text-align: center;
    display: grid;
    grid-column-gap: 5%;
    opacity: 0.5;
  }

  #footer #middle {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }

  #siteTitle {
    font-size: 7em;
    padding: 0 2%;
    margin-top: 8%;
    margin-bottom: 1%;
    text-align: center;
    font-weight: 100;
  }
  .nav-fillpath {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
  }

  #next-city {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  nav a {
    position: unset;
  }

  #sub-title {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.1em;
    opacity: 0.5;
  }

  #footer a {
    text-decoration: none;
  }

  #overlay-img {
    position: fixed;
    top: 4%;
    left: 4%;
  }

  .icon-wrap {
    display: none !important;
  }

  .nav-fillpath a:hover::before,
  .nav-fillpath a:hover .icon-wrap::before {
    transform: translateX(-50%) rotate(-135deg);
  }

  .nav-fillpath a::after,
  .nav-fillpath .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(-55deg);
    transform: translateX(-50%) rotate(-55deg);
  }

  .nav-fillpath a.next:hover::after,
  .nav-fillpath a.next:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  .nav-fillpath a.next:hover::before,
  .nav-fillpath a.next:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .nav-fillpath a.prev h3 {
    margin-left: 25%;
    font-size: 1.3em;
    opacity: 0.5 !important;
  }

  .nav-fillpath a.next h3 {
    margin-right: 25%;
    font-size: 1.3em;
    opacity: 0.5 !important;
  }

  .nav-fillpath a:hover h3 {
    opacity: 1;
    -webkit-transform: unset;
    transform: unset;
  }
}
@media screen and (orientation: landscape) {
}
